.u-block-0f78-5 {
  position: absolute;
  width: auto;
  height: auto;
  left: calc(((100% - 1140px) / 2)  + 522px);
  top: auto;
  right: auto;
  bottom: -139px;
}

.u-block-0f78-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-0f78-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-0f78-5 {
    left: calc(((100% - 940px) / 2)  + 422px);
  }
}

@media (max-width: 991px) {
  .u-block-0f78-5 {
    left: calc(((100% - 720px) / 2)  + 312px);
  }
}

@media (max-width: 767px) {
  .u-block-0f78-5 {
    left: calc(((100% - 540px) / 2)  + 222px);
  }
}

@media (max-width: 575px) {
  .u-block-0f78-5 {
    left: calc(((100% - 340px) / 2)  + 122px);
  }
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1478px;
}

.u-section-1-1 .u-text-1 {
  margin: 0 0 0 88px;
}

.u-section-1-1 .u-video-1 {
  width: 494px;
  height: 244px;
  margin: 94px 668px 0 -22px;
}

.u-section-1-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1-1 .u-video-2 {
  height: 244px;
  width: 494px;
  margin: -244px 121px 0 524px;
}

.u-section-1-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

.u-section-1-1 .u-video-3 {
  height: 282px;
  width: 494px;
  margin: 21px auto 0 -22px;
}

.u-section-1-1 .embed-responsive-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1-1 .u-video-4 {
  height: 282px;
  width: 494px;
  margin: -282px 121px 0 auto;
}

.u-section-1-1 .embed-responsive-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1-1 .u-video-5 {
  height: 265px;
  width: 494px;
  margin: 30px auto 0 -22px;
}

.u-section-1-1 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1-1 .u-video-6 {
  height: 278px;
  width: 494px;
  margin: -264px 121px 0 auto;
}

.u-section-1-1 .embed-responsive-6 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1-1 .u-video-1 {
    margin-right: 568px;
  }

  .u-section-1-1 .u-video-2 {
    margin-right: 21px;
    margin-left: 424px;
  }

  .u-section-1-1 .u-video-5 {
    height: 264px;
  }

  .u-section-1-1 .u-video-6 {
    margin-top: -263px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-video-1 {
    margin-right: 408px;
  }

  .u-section-1-1 .u-video-2 {
    margin-right: 0;
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-video-1 {
    margin-right: 238px;
  }

  .u-section-1-1 .u-video-2 {
    margin-left: 46px;
  }

  .u-section-1-1 .u-video-4 {
    margin-right: 46px;
  }

  .u-section-1-1 .u-video-6 {
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1-1 .u-video-1 {
    width: 340px;
    height: 168px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-video-2 {
    height: 168px;
    width: 340px;
    margin-top: -168px;
    margin-left: 0;
  }

  .u-section-1-1 .u-video-3 {
    height: 194px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-1 .u-video-4 {
    height: 194px;
    width: 340px;
    margin-top: -194px;
    margin-right: 0;
  }

  .u-section-1-1 .u-video-5 {
    height: 182px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-1 .u-video-6 {
    height: 191px;
    width: 340px;
    margin-top: -181px;
    margin-right: 0;
  }
}